

/* 
########## UNDERHEADER STYLE ##########
*/

.underheader {
    width: 100%;
    height: 700px;
    display: flex;
    position: relative;
    background-image: url(public/external/underheaderbackgroundimage9715-w8z5-1500w.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.bckg_opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F5ECEC;
    opacity: 20%;
}
.underheader_text_block {
    z-index: 1;
    background-image: url(public/external/underheaderfigure9715-14w.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 85px 0 0 165px;
}
.underheader_text {
    color: rgba(250, 239, 228, 1);
    font-size: 36px;
    font-family: Roboto Mono;
    font-weight: 500;
    max-width: 75%;
    margin-bottom: 25px;
    text-align: left;
}
.underheader_heading {
    color: rgba(198, 158, 122, 1);
    font-size: 96px;
    font-style: Bold;
    font-family: Roboto Mono;
    font-weight: 700;
    text-align: left;
}

/* 
########## ABOUT US STYLE ##########
*/
.about_us {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #FBEFE5;
    border-top: 4px solid #003153;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 55px 165px;
    padding: 5% 10%;
}
.about_us_text_block {
    width: 50%;
}
.about_us_heading {
    color: rgba(0, 49, 83, 1);
    font-size: 32px;
    font-style: Semi Bold;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}
.about_us_text {
    color: rgba(0, 49, 83, 1);
    font-size: 16px;
    font-style: Semi Bold;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 40px;
}
.about_us_img_block {
    width: 408px;
    height: 524px;
    border-radius: 15px;
}

/* 
########## PROS STYLE ##########
*/

.pros {
    width: 100%;
    height: 917px;
    background-color: #003153;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.pros_heading {
    font-size: 32px;
    font-style: Semi Bold;
    font-weight: 700;
    line-height: 130%;
    color: #FBEFE5;
    margin-bottom: 60px;
}
.pros_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pros_buttons_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.left_block>.pros_elem{
    background: linear-gradient(270deg, rgb(183, 162, 143), rgb(243, 215, 190) 20%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.right_block>.pros_elem{
    background: linear-gradient(270deg, rgb(243, 215, 190) 80%, rgb(183, 162, 143));
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.pros_elem {
    width: 200px;
    height: 110px;
    display: flex;
    /* background-color: #F3D7BE; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transition: .3s; */
    cursor: pointer;
    color: #ACA59D;
    margin-bottom: 25px;
}
.pros_elem:last-child {
    margin-bottom: 0;
}
.pros_elem>i{
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}
.pros_elem:hover {
    background: #C79E7B;
    color: #003153;
}
.pros_buttons_block>.selected_pros {
    background: #C79E7B;
    color: #003153;
}
.pros_content {
    width: 550px;
    height: 100%;
    background-color: #C79E7B;
    text-align: center;
    padding: 25px 45px;
    color: #003153;
}
.pros_content_heading {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 50px;
}
.pros_content_text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
}

/* 
########## STATISTIC STYLE ##########
*/

.statistic {
    width: 100%;
    height: auto;
    background-color: #FBEFE5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 70px 5%;
    flex-wrap: wrap;
    border-top: 4px solid #CCAF96;
}
.statistic_item {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #003153;
}
.statistic_number {
    font-family: Smooch Sans;
    font-size: 64px;
    font-weight: 700;
}
.statistic_description {
    font-family: Roboto Mono;
    font-size: 20px;
    font-weight: 700;
}

/* 
########## DIFFERENCES STYLE ##########
*/

.differences {
    width: 100%;
    background-color: #003153;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5% 10%;
}
.difference_headings {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.differences_heading {
    width: 400px;
    color: #FBEFE5;
    font-family: Roboto Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 178%;
}
.difference_rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.difference_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.difference_row:last-child {
    margin: 0;
}
.differences_item {
    border-radius: 25px;
    background: #FBEFE5;
    height: 177px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}
.differences_text {
    color: #003153;
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 700;
    line-height: 178%;
}
.difference_category {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #FBEFE5;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 
########## EMPLOYEE STYLE ##########
*/

.employees {
    width: 100%;
    background-color: #FBEFE5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
    position: relative;
    border-top: 4px solid #CCAF96;
}
.employee_heading {
    color: #003153;
    font-family: Roboto Mono;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 150px;
}
.employees_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 180px;
}
.employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: .2s;
}
.employee:hover {
    background-color: #C79E7B;
}
.employee img {
    width: 270px;
    height: 270px;
    border-radius: 175px;
    border: 1px solid #000;
    margin-bottom: 20px;
}
.name {
    color: #003153;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 17px;
}
.post {
    color: #003153;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    width: 270px;
}
.see_all_button {
    width: 310px;
    height: 60px;
    background-color: #003153;
    color: #C79E7B;
    font-family: Roboto Mono;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    transition: .2s;
}
.see_all_button:hover {
    color: #003153;
    background-color: #C79E7B;
}

/* 
########## CONTACT US STYLE ##########
*/

.contact_us {
    width: 100%;
    background-color: #003153;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
    position: relative;
    border-top: 4px solid #CCAF96;
}
.contact_us_hedaing {
    color: #C79E7B;
    font-family: Roboto Mono;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 100px;
}
.contact_us_form {
    width: 720px;
    background-color: #CCAF96;
    border-radius: 15px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}
.contact_us_input, .contact_us_textarea{
    color: rgba(0, 49, 83, 0.50);
    font-family: Roboto Mono;
    font-size: 24px;
    font-weight: 700;
    border: 4px solid #848484;
    background-color: #fff;
    width: 100%;
    padding: 25px;
    margin-bottom: 40px;
}
.contact_us_textarea {
    min-height: 170px;
    resize: vertical;
}
.contact_us_input {
    height: 75px;
}
.contact_us_button {
    width: 310px;
    height: 95px;
    border-radius: 15px;
    background: #003153;
    text-transform: uppercase;
    color: #fff;
    font-family: Roboto Mono;
    font-size: 24px;
    font-weight: 700;
    align-self: flex-start;
    cursor: pointer;
    transition: .2s;
}
.contact_us_button:hover {
    color: #003153;
    background-color: #fff;
}
.contact_us_text {
    color: #fff;
    font-family: Roboto Mono;
    font-weight: 700;
}
.contact_us_text_text {
    font-size: 24px;
    margin-bottom: 15px;
}
.contact_us_phonenumber {
    font-size: 40px;
    margin-bottom: 40px;
    transition: .2s;
}
.contact_us_phonenumber:hover {
    color: #CCAF96;
}
.contact_us_email {
    font-size: 20px;
    transition: .2s;
}
.contact_us_email:hover {
    color: #CCAF96;
}
